* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, Helvetica, sans-serif;
}

body {
    position: relative;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* ===========================Header====================================== */

.containre {
    max-width: 1024px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

header {
    background-image: url(/img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.bg-img {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
}

.top {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    align-items: center;
}

.header-top img {
    height: 80px;
}

.header-top ul {
    display: flex;
}

.header-top ul li {
    margin-left: 12px;
    position: relative;
}

.header-top ul li::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -2px;
    height: 4px;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff9b28;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.header-top ul li:hover:after {
    width: 100%;
}

.header-top ul li a {
    color: #ff9b28;
    text-decoration: none;
    font-weight: bold;
    margin-left: 12px;
}

.header-top ul>i {
    font-size: 20px;
    color: #ff9b28;
    margin: 12px 0 0 12px;
    cursor: pointer;
    margin-bottom: 150px;
    display: none;
}

.header-top i {
    font-size: 20px;
    color: #ff9b28;
    cursor: pointer;
    display: none;
}

.header-text {
    position: absolute;
    top: 50%;
    transform: transform(-50%, -50%);
    text-align: center;
    width: 100%;
}

.header-text h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 50px;
}

.header-text p {
    color: white;
    font-size: 20px;
}

.header-text button {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #ff9b28;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s;
}

.header-text button:hover {
    background-color: #ff9b28;
    color: black;
}


/* ================================================================= */

.heading {
    font-size: 30px;
    margin: 40px 0px 10px 30px;
    position: relative;
}

.heading a {
    text-decoration: none;
    color: #ff9b28;
}

.heading a::after {
    position: absolute;
    content: "";
    display: block;
    bottom: -2px;
    height: 4px;
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff9b28;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.heading a:hover:after {
    width: 17%;
}


/* ============================= */

.newp p {
    font-size: 17px;
    margin: 0px 0px 10px 30px;
    position: relative;
    color: #8c8c8c;
}


/* ================================================================= */

.new-item {
    width: 45%;
    margin: 30px;
    display: inline-grid;
    overflow: hidden;
    background: #ffffff;
    border-radius: 15px;
}

.new-item a {
    font-size: 20px;
    display: block;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    color: #ff9b28;
    text-align: left;
    padding: 0px 20px;
    left: 10px;
}

.new-item a:hover {
    letter-spacing: 0.5px;
    transition: all .5s linear;
}

.new-item img {
    margin: 15px;
    max-width: 90%;
    border-radius: 10px;
}

.new-item>p {
    font-size: 15px;
    padding: 10px 30px 5px 30px;
    text-align: left;
    color: #8c8c8c;
}


/* ================================================================= */

.rank-item {
    width: 22%;
    display: inline-grid;
    overflow: hidden;
    background: #ffffff;
    border: 3px solid #ff9b28;
    border-radius: 15px;
    margin: 20px;
}

.rank-item a {
    font-size: 20px;
    display: block;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    color: #ff9b28;
    text-align: center;
}

.rank-item a:hover {
    letter-spacing: 0.5px;
    transition: all .5s linear;
}

.rank-item img {
    margin: 15px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.rank-item img:hover {
    transform: scale(1.2);
    transition: all .3s linear;
}

.rank-item>p {
    font-size: 15px;
    padding: 10px 30px 5px 30px;
    text-align: left;
    color: #8c8c8c;
}


/* ================================================================= */

.container {
    max-width: 1024px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff9b28;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/* =================================================================